
header
	position: fixed
	display: flex
	justify-content: space-between
	align-items: center
	padding: 16px 40px
	gap: 10px
	width: -webkit-fill-available
	background: #FFFFFF
	border: 1px solid #000000
	box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1)
	border-radius: 0px 0px 16px 16px
	z-index: 1
	.nav_bar
		display: flex
		align-items: center
		padding: 0
		gap: 40px
		font-weight: 500
		text-align: center
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
		color: $text_color
		cursor: pointer
		.activ
			display: flex
			align-items: center
			justify-content: center
			padding: 4px 12px
			background: #60C2AA
			border-radius: 200px
			color: #ffffff
	.signout
		cursor: pointer

main
	padding: 130px 40px 77px 40px
	display: flex
	justify-content: space-between
	.gamers
		color: $text_color
		padding: 24px
		background: #FFFFFF
		box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09)
		border-radius: 20px
		display: flex
		flex-direction: column
		align-self: flex-start
		h1
			font-weight: 700
			font-size: 24px
		&_wrapper
			&_obj
				margin-top: 24px
				display: flex
				align-items: flex-start
				gap: 12px
				img
					width: 24px
					height: 24px
			&_name
				font-weight: 400
				font-size: 20px
				line-height: 24px
			&_static
				color: #898993
				font-weight: 400
				font-size: 14px
				line-height: 20px
				margin-top: 4px

	.game_container
		width: 663px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		gap: 40px
		&_timer
			width: 139px
			height: 88px
			padding: 24px
			background: #EDEDED
			border-radius: 12px
			font-weight: 900
			font-size: 34px
			line-height: 40px
			color: $text_color
			display: flex
			justify-content: center
			align-items: center
			
		.game_field
			width: 663px
			display: grid
			grid-template-columns: repeat(3, auto)
			grid-template-rows: repeat(3, auto)
			gap: 4px
			filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09))
			&_cell
				background: #ffffff
				width: 218.33px
				height: 218.33px
				border-radius: 12px
				display: flex
				justify-content: center
				align-items: center
			&_cell>img
				width: 154.33px
				height: 154.33px
		.game_motion
			padding: 12px
			gap: 12px
			width: 400px
			height: 48px
			background: $text_color
			box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09)
			border-radius: 12px
			text-align: center
			font-weight: 400
			font-size: 20px
			line-height: 24px
			color: #ffffff
			display: flex
			align-items: center
			justify-content: center
			img
				width: 24px
				height: 24px

	.chat
		display: flex
		flex-direction: column
		align-self: flex-end
		padding: 0px
		width: 412px
		height: 452px
		margin-bottom: 118px
		&_screen
			display: flex
			flex-direction: column
			gap: 12px
			&_player
				background: #ffffff
				max-width: 352px
				padding: 12px
				box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1)
				&.two
					border-radius: 16px 16px 16px 0px
					align-self: flex-start
				&.one
					border-radius: 16px 16px 0px 16px
					align-self: flex-end
				&_head
					display: flex
					justify-content: space-between
					gap: 50px
					&_name
						font-weight: 500
						font-size: 14px
						line-height: 20px
						color: $text_color
						&.x
							color:#60C2AA
						&.zero
							color:#E38BAC
					&_time
						color: #898993
						font-weight: 400
						font-size: 14px
						line-height: 20px
				&_text
					font-weight: 400
					font-size: 16px
					line-height: 24px
					color: $text_color
					margin-top: 8px
		&_message
			margin-top: 20px
			width: -webkit-fill-available
			height: 48px
			display: flex
			gap: 12px
			img
				width: 48px
				height: 48px
				cursor: pointer
		& textarea
			display: flex
			flex-direction: row
			align-items: flex-start
			resize: none
			min-width: 352px
			border-radius: 12px
			max-height: max-content
			overflow: hidden
			box-sizing: border-box
			padding: 12px 20px
			gap: 8px
			border: 1px solid #DCDCDF
			
.mod_container
	display: none
	position: fixed
	overflow: auto
	left: 0
	top: 0
	width: 100%
	height: 100%
	background-color: rgba(0,0,0,0.5)
	.modal
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		display: flex
		flex-direction: column
		align-items: center
		padding: 40px 24px
		gap: 20px
		width: 400px
		height: 429.36px
		background: #FFFFFF
		box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09)
		border-radius: 16px
		box-sizing: border-box
		&_img
			display: flex
			align-items: center
			justify-content: center
			width: 132px
			height: 165.36px
		&_head
			font-weight: 700
			font-size: 24px
			line-height: 150%
			display: flex
			align-items: center
			text-align: center
			color: $text_color
		&_btns
			display: flex
			flex-direction: column
			padding: 0px
			gap: 12px
			width: 352px
			height: 108px
			&_click
				display: flex
				flex-direction: row
				justify-content: center
				align-items: flex-start
				padding: 12px 20px
				gap: 8px
				width: 352px
				height: 48px
				background: #F7F7F7
				border-radius: 12px
				font-weight: 500
				font-size: 16px
				line-height: 24px
				text-align: center
				letter-spacing: 0.24px
				color:  $text_color
				cursor: pointer
				&:hover
					background: #60C2AA
					color: #FFFFFF
					

