=makeColum
	display: grid
	grid-template-columns: 440px 108px 108px 134px
	grid-auto-flow: column
	align-items: center
	padding: 4px 0 4px 0
	gap: 0 16px
	height: 48px
	box-shadow: inset 0px -1px 0px #EEEFF5
	

=text
	letter-spacing: 0.24px
	color: $text_color
	padding: 8px
		