.container_rating
    display: grid
    align-items: center
    justify-content: center
    padding: 144px 0 80px 0
    .rating
        width: 1026px
        min-height: 856px
        padding: 32px
        background: #FFFFFF
        box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09)
        border-radius: 40px
        &_head
            font-weight: 700
            font-size: 24px
            color: $text_color
        &_block
            margin-top: 24px
            &_subhead
                +makeColum
            &_subhead > div     
                font-weight: 500
                font-size: 16px
                +text
            &_list
                .person
                    :nth-child(3)
                        color: #69B849
                    :nth-child(4)
                        color: #E93E3E
                    +makeColum 
                .person > div
                    font-weight: 400
                    font-size: 16px
                    +text
                    
                  
                
                    

          

    
                


            
       
           
         