
.container
	height: 100vh
	display: grid
	justify-items: center
	align-items: center
	.form
		width: 400px
		min-height: 464px
		background: #ffffff
		display: flex
		flex-direction: column
		align-items: center
		padding: 40px 24px
		gap: 20px
		box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09)
		border-radius: 16px
		& img
			width: 132px
			height: 132px
			background: url(casual-life-3d-beagle-dog-sitting-2.png)
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
		&_head h1
			font-weight: 700
			font-size: 24px
			line-height: 150%
			display: flex
			align-items: center
			text-align: center
			color: $text_color
		&_in
			display: flex
			flex-direction: column
			align-items: center
			padding: 0px
			gap: 12px
			width: 352px
			min-height: 108px
			.err_text_hide
				display: none
				font-weight: 400
				font-size: 12px
				line-height: 16px
				letter-spacing: 0.25px
				color:#E93E3E
			
		input
			display: flex
			flex-direction: row
			align-items: flex-start
			padding: 12px 20px
			gap: 8px
			width: 352px
			height: 48px
			background: #FFFFFF
			border: 1px solid #DCDCDF
			border-radius: 12px
			outline: 0
			font-size: 16px
			box-sizing: border-box
			&::placeholder
				color: #DCDCDF
			&.err_input
				border: 1px solid #E93E3E
		&_btn
			padding: 12px 20px
			width: 352px
			height: 48px
			background: rgba(96, 194, 170, 0.3)
			border-radius: 12px
			font-weight: 500
			font-size: 16px
			letter-spacing: 0.24px
			color: #FFFFFF
			border: none
			cursor: pointer
			//pointer-events: none
		.btn_active
			background:#60C2AA
			//pointer-events: visiblePainted