*
	padding: 0
	margin: 0
	border: 0
	font-family: Roboto
	font-style: normal
	font-size: 16px
	

$text_color: #373745
    
body
	background: rgba(246, 246, 246, 1)

@import "mixins"
@import "general"
@import "sign"
@import "rating"

			
			
			
				

	


